<!DOCTYPE html>
<head>
  <!-- Required meta tags -->
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

  <!-- Favicon-->
  <link rel='shortcut icon' href='favicon.ico'>

  <!-- Author Meta -->
  <meta name='author' content='Zibing Zhang'>
  <!-- Meta Description -->
  <meta name='description' content=>
  <!-- Meta Keyword -->
  <meta name='keywords' content=>
  <!-- Meta Character Set -->
  <meta charset='UTF-8'>


  <!-- Scripts -->
  {% load static %}
  <script src="{% static 'registration/athlete.js' %}"></script>

  <!-- Site Title -->
  <title>Zibing Zhang</title>
</head>

<body>
  <form id="myForm" action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <fieldset>
      <table border="1">
        <thead>
          <tr>
          {% for field in form.visible_fields %}
          <th>{{ field.label_tag }}</th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
          {% for athlete in athletes %}
          <tr>
            <td>{{ athlete }}</td>
          </tr>
          {% endfor %}
          <tr>
          {% for field in form.visible_fields %}
          <td>
            {{ field.errors }}
            {{ field }}
            {{ field.help_text }}
          </td>
          {% endfor %}
        </tr>
        </tbody>
      </table>
    </fieldset>

    <button>add athlete</button>

    <input type="submit" value="Save">
  </form>
</body>
