
{% extends "base.html" %}

{% block content %}
  <form id="myForm" action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for section in sections %}
      <div class="row flex-nowrap align-items-center">
        <div class="col-1">
          {{ section.event }}
        </div>

        <div class="col">
          <hr>
          <div class="row flex-nowrap">
            <div class="col">Athletes</div>
            <div class="col">Seed</div>
          </div>

          {% for form in section.forms %}
            <div class="row flex-nowrap  align-items-center">
              <div class="col">
                {% for field in form.athlete_fields %}
                  <div class="row">{{ field }}</div>
                {% endfor %}
              </div>
              <div class="col">
                {{ form.seed_field }}
              </div>
            </div>
            <br>
          {% endfor %}
          <hr>
        </div>
      </div>
    {% endfor %}
    <input type="submit" value="Save" class="btn btn-primary">
  </form>
{% endblock %}
