{% extends "base.html" %}

{% block content %}
  <div class="text-center fs-4">
    {{ meet_name }}
  </div>
  <div class="text-center fs-4">
    {{ team_name }}
  </div>

  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
      <table class="table table-bordered border-secondary text-center">
        <thead>
          <tr>
            <th scope="col" class="col-3 col-xl-3">Event</th>
            <th scope="col" class="col-5 col-xl-6">Athlete</th>
            <th scope="col" class="col-4 col-xl-3">Seed</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          {% for section in sections %}
            {% for entry in section.entries %}
              <tr>
                {% if forloop.counter0 == 0 %}
                  <td scope="row" rowspan="{{ section.count }}">{{ section.event }}</td>
                {% endif %}
                <td>
                  {% for athlete in entry.athletes %}
                    {% if forloop.counter0 != 0 %}<br>{% endif %}
                    {{ athlete }}
                  {% endfor %}
                </td>
                <td>
                  {{ athlete.seed }}
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-xl-1"></div>
  </div>
{% endblock %}
