option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: swive.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_collectstatic:
    command: 'source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput'
    leader_only: true
  02_makemigrations:
    command: 'source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py makemigrations --noinput'
    leader_only: true
  03_migrate:
    command: 'source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput'
    leader_only: true
  04_migrate:
    command: 'source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py createsuperuser --noinput'
    leader_only: true
  05_db_writable:
    command: chmod 666 db.sqlite3
    leader_only: true


