<div class="position-sticky d-flex flex-column flex-shrink-0 h-100">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold">Swive Management</span>
  </a>
  <ul class="list-unstyled ps-0 mb-auto">
     <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed w-100" data-bs-toggle="collapse" data-bs-target="#meets-collapse" aria-expanded="false">
        Meets
      </button>
      <div class="collapse" id="meets-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="/meets/all" class="link-dark rounded w-75">View All Meets</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed w-100" data-bs-toggle="collapse" data-bs-target="#teams-collapse" aria-expanded="false">
        Teams
      </button>
      <div class="collapse" id="teams-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="/teams/all" class="link-dark rounded w-75">View All Teams</a></li>
          {% if user.is_coach or user.is_superuser %}
            <li><a href="/teams/mine" class="link-dark rounded w-75">View My Teams</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li><a href="/registration/teams/join" class="link-dark rounded w-75">Join a Team</a></li>
          {% endif %}
          {% if user.is_official or user.is_coach or user.is_superuser %}
            <li><a href="/registration/teams/join/requests" class="link-dark rounded w-75">Coach Requests</a></li>
          {% endif %}
        </ul>
      </div>
    </li>
    {% if user.is_coach or user.is_superuser %}
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed w-100" data-bs-toggle="collapse" data-bs-target="#athletes-collapse" aria-expanded="false">
          Athletes
        </button>
        <div class="collapse" id="athletes-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/admin/common/athlete" target="_blank" class="link-dark rounded w-75">Add / Edit Athletes</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed w-100" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/account/edit" class="link-dark rounded w-75">Account Settings</a></li>
            {% if user.is_staff or user.is_superuser %}
              <li><a href="/admin" class="link-dark rounded" target="_blank">Admin Site</a></li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    </li>
  </ul>

  <div class="text-center">
    {% if user.is_authenticated %}
      <div>
        {{ user.sidebar_display_name }}
      </div>
      <hr>
      <form action="{% url 'logout' %}" method="post" id="logout" class="nav-link">
        {% csrf_token %}
        <input class="form-control" type="submit" value="Logout">
      </form>
    {% else %}
      <div class="form-control">
        <a href="{% url 'login' %}" class="link-dark text-decoration-none">Log In</a>
      </div>
      <br>
      <div class="form-control">
        <a href="{% url 'create profile' %}" class="link-dark text-decoration-none">Create Account</a>
      </div>
    {% endif %}
  </div>
</div>
